<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team8.universitybazaar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversityBazaar">
        <activity android:name=".controller.InfoExchange"></activity>
        <activity android:name=".controller.PurchaseHistoryActivity" />
        <activity android:name=".controller.PaymentActivity" />
        <activity android:name=".controller.SalesItemRecycler" />
        <activity android:name=".controller.ClubItemRecycler" />
        <activity android:name=".controller.JoinedClubItemRecycler" />
        <activity android:name=".controller.ItemDetailsScreenActivity" />
        <activity android:name=".controller.SalesExchangeForm" />
        <activity android:name=".controller.RegisterUser" />
        <activity android:name=".controller.MainActivity" />
        <activity android:name=".controller.LoginActivity" />
        <activity android:name=".controller.ViewUserProfileActivity" />
        <activity android:name=".controller.EditUserProfileActivity" />
        <activity android:name=".controller.ForgetPasswordActivity" />
        <activity android:name=".controller.WipActivity" />
        <activity android:name=".controller.ClubOptionsActivity" />
        <activity android:name=".controller.CommunicationFormActivity" />
        <activity android:name=".controller.MyMessagesRecycler" />
        <activity android:name=".controller.CommunicationOptionsActivity" />
        <activity android:name=".controller.CreateClubFormActivity" />
        <activity android:name=".controller.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>